// Define variables for your color scheme

// For example:
$red: #F0C8BD;
$blue: #C8E6EB;
$yellow: #FFD87E;
$orange: #E67E22;
$green: #97B8A5;
$light-gray: #E9E9E9;
$gray: #989898;
$dark-gray: #3F3F3F;
$beige: #FFFDF9;
