.application-index-pet-heading {
  display: flex;
  justify-content: flex-start;
  margin: 40px 20px;
  align-items: center;

  div {
    margin: 10px 20px;
  }
}

.application-index-container {
  margin: 40px 10px 10px;
}

.application-index-pet-name {
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.05em;

  color: #3F3F3F;
}

.application-index-profile-picture {
  display: flex;
  justify-content: center;
  img {
    height: 140px;
    width: 140px;
    border: 3px solid $gray;
    border-radius: 50%;

  }
}

.application-hr {
  height: 3px;
  margin-top: 76px;
}
