.home-container {
  margin-top: 40px;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner-text-buttons {
  display: flex;
  align-items: center;

  .btn-red {
    margin-right: 24px;
  }
}

.banner img {
  height: 650px;
}

.banner-text h1 {
  font-family: 'Playfair Display';
  font-size: 48px;
  color: $dark-gray;
  font-weight: 700;
}
