.my_application_cards {
  overflow: hidden;
  height: 100%;
  width: 350px;
  background: white;
  box-shadow: 0px 4px 12px rgba(63, 63, 63, 0.3);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.3s ease-in-out;
  padding: 40px 24px;
  margin: 24px 0;



  &:hover {
    transform: scale(1.02);
  }


  h2 {
    font-family: 'Playfair Display';
    font-style: italic;
    font-weight: 600;
    font-size: 24px;
    color: $dark-gray;
    text-align: center;
    text-transform: uppercase;

  }

  p {
    font-family: 'Lexend';
    font-weight: 400;
    font-size: 20px;
    color: $dark-gray;
    line-height: 20px;
    text-align: center;
    margin-top: 12px;
    margin-bottom: 15px;

  }
}

.my-applications-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 24px;
  margin-bottom: 75px;
}

@media(max-width: 992px) {
  .my-applications-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 600px) {
  .my-applications-grid {
    grid-template-columns: 1fr;
  }
}



.my_application_cards img {
  height: 120px;
  border: 3px solid $gray;
  border-radius: 50%;
  margin-bottom: 0;
}


.tick-color-green {
  color: $green;
  font-size: 50px;
  position: relative;
  left: 42px;
  top: -140px;
  text-shadow: 0 0 4px #000;
}

.cross-color-red {

  color: $red;
  font-size: 50px;
  position: relative;
  left: 42px;
  top: -140px;
  text-shadow: 0 0 4px #000;
}

.hourglass-color-gold {
  color: $yellow;
  font-size: 40px;
  position: relative;
  left: 42px;
  top: -140px;
  text-shadow: 0 0 4px #000;
}

.my_application-button-margin {
  margin: 10px;
}

.my-application-heading {
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.05em;

  color: #3F3F3F;

  margin: 20px;

}

.my-applications-center {
  text-align: center;

}

.my-application-data {
  display: flex;
  justify-content: space-between;
  margin: 10px;

  p {
    text-transform: uppercase;
  }
}

.my-application-total {
  font-family: 'Lexend';
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 0px;
  text-transform: uppercase;
  color: $gray;
}

.my-application-sucessful {
  font-family: 'Lexend';
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 0px;
  text-transform: uppercase;
  color: $green;
}

.my-application-unsucessful {
  font-family: 'Lexend';
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 0px;
  text-transform: uppercase;
  color: $dark-red;
}

.my-application-in-progress {
  font-family: 'Lexend';
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 0px;
  text-transform: uppercase;
  color: $yellow;
}

.my-application-margin {
  margin: 40px;
}

.empty-application-banner {
  width: 45vw;
  height: 35vw;
}

.center-my-application {
  display: flex;
  justify-content: space-around;
}
