.pets-index-heading {
  font-family: 'Playfair Display';
font-style: italic;
font-weight: 600;
font-size: 36px;
line-height: 48px;
/* identical to box height */

text-align: center;
letter-spacing: 0.05em;

color: #3F3F3F;
}
