
<div class="container">
  <%= simple_form_for [@pet, @application] do |f|%>
      <div class="text-center">
        <%= f.submit "Adopt this pet", class: 'btn-red' %>
      </div>
  <% end %>

</div>
