
<div class="container">
  <%= simple_form_for [@pet, @application] do |f|%>
      <div class="text-center">
        <%= f.submit "REGISTER INTEREST", class: 'btn-yellow' %>
      </div>
  <% end %>

</div>
