<div class="footer">
  <%= link_to root_path do %>
    <%= image_tag "logo_gray", :class => "footer-logo" %>
  <% end %>
  <div class="footer-social">
    <a href=""><i class="fab fa-facebook"></i></a>
    <a href=""><i class="fa-brands fa-instagram"></i></a>
    <a href=""><i class="fa-brands fa-twitter"></i></a>
  </div>
  <div class="footer-copyright">
    <p>© Happy Tails 2022</p>
  </div>
</div>
