
<div class="pet_card">
  <div class="pet_card_hero" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
    <h2 class="pet_card_hero_text_reserved">RESERVED</h2>
  </div>
  <div class="pet_card_info">
    <h2 class="pet_card_info_name">Name</h2>
    <div class="pet_card_info_text">
      <h5><strong>Age</strong></h5>
      <div class="bottom_section">
        <h5><strong>Breed</strong></h5>
      <div class="pet_card_icons">
        <i class="fa-brands fa-pagelines"></i>
        <i class="fa-solid fa-cat"></i>
        <i class="fa-solid fa-dog"></i>
        <i class="fa-solid fa-child"></i>
      </div>
      </div>
    </div>
  </div>
