<div class="container">
  <div class="home-container">
    <div class="banner">
      <div class="banner-text">
        <h1><em>We modernise the pet adoption process</em></h1>
        <p>Connecting awesome animal shelters with people looking to give animals a second chance</p>
        <div class="banner-text-buttons">
          <%= link_to "FIND A PET", pets_path, class: "btn-red" %>
          <%= link_to "LIST A PET", new_pet_path, class: "btn-gray-border" %>
        </div>
      </div>
      <%= image_tag "homepage_cat_dog.png" %>
    </div>
    <div class="about-section">
      <h3><em>How does it work?</em></h3>
      <div class="about-left">
        <h5><em>Shelters</em></h5>
      </div>
      <div class="about-right">
        <h5><em>Adopters</em></h5>
      </div>
    </div>
  </div>
</div>
