.btn-primary {
  color: black;
  font-weight: 700;
  font-size: 16px;
  font-family: 'Lexend';
  text-decoration: none;
  background-color: $yellow;
  padding: 12px 32px;
  border-radius: 32px;
  border: none;
  text-transform: uppercase;
  width: fit-content;

  &:hover {
    color: #262626;
    background-color: #EDC976;
    transition: 0.8s;
  }
}

.btn-primary-border {
  color: $yellow;
  font-weight: 700;
  font-size: 16px;
  font-family: 'Lexend';
  text-decoration: none;
  padding: 12px 32px;
  border: 3px solid $yellow;
  border-radius: 32px;
  width: fit-content;
  text-transform: uppercase;

  &:hover {
    color: #d2b36a;
    border: 3px solid #d2b36a;
    transition: 0.8s;
  }
}
