// Pet Card
.pet_card {
  width: 360px;
  height: 360px;
  box-shadow: 0px 4px 12px rgba(63, 63, 63, 0.3);
  border-radius: 8px;
  margin-top: 20px;
  margin-left: 20px;
  a {
    text-decoration: none;

  }
  &:hover {
    text-decoration: none;
    transform: scale(1.02);
  }
}

.pet_card_hero{
  width: 360px;
  height: 234px;
  background-size: cover;
  border-radius: 8px 8px 0px 0px
}

.pet_card_hero_text_available{
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  background: #97B8A5;
  border-radius: 8px 0px 0px 0px;
  color: #FFFFFF;
  width: 120px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.pet_card_hero_text_reserved{
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  background: #FFD87E;
  border-radius: 8px 0px 0px 0px;
  color: #FFFFFF;
  width: 120px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.pet_card_hero_text_adopted{
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  background: #F18B7E;
  border-radius: 8px 0px 0px 0px;
  color: #FFFFFF;
  width: 120px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.pet_card_info{
  padding:10px;
}

.pet_card_info_name {

  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #3F3F3F;
  padding: 0px 8px;
  text-decoration: none;

}

.pet_card_info_text {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $dark-gray;
  padding: 0px 8px;

  h5 {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: $dark-gray;
  }
}

.bottom_section {
  width:100%;
  display:flex;
  justify-content: space-between;
  align-items: flex-start;
}

.pet_card_icons {
  i {
    font-size: 24px;
  }
}

.opaque-icon {
  color: $light-gray;
}

// Shelter Card
.shelter_card {
  overflow: hidden;
  height: 100%;
  width: 300px;
  background: white;
  box-shadow: 0px 4px 12px rgba(63, 63, 63, 0.3);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.3s ease-in-out;
  padding: 40px 24px;
  margin-right: 24px;

  &:hover {
    transform: scale(1.02);
  }


  h2 {
    font-family: 'Playfair Display';
    font-style: italic;
    font-weight: 600;
    font-size: 24px;
    color: $dark-gray;
    text-align: center;
  }

  p {
    font-family: 'Lexend';
    font-weight: 400;
    font-size: 16px;
    color: $dark-gray;
    line-height: 20px;
    text-align: center;
    margin-top: 12px;
    margin-bottom: 0px;
  }
}

.shelter_card img {
  height: 120px;
  border: 3px solid $gray;
  border-radius: 50%;
  margin-bottom: 16px;
}

//Adopter Card
.adopter_card {
  overflow: hidden;
  height: 460px;
  width: 300px;
  background: white;
  box-shadow: 0px 4px 12px rgba(63, 63, 63, 0.3);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.adopter_card img {
  height: 120px;
  width: 120px;
  border: 3px solid $gray;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card_buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.card_text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card_infos_text h2{
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */
  text-align: center;
  color: #3F3F3F;
  margin-bottom: 0;
  margin-top: 8px;
}


.card_ .card_infos {
  padding: 16px;
}
