.search-component{
  display: flex;

}

.input-width {
  flex-grow: 1;

}

.form-control {
  background-color: white;

}

.form-control::placeholder {
  color: black;

}

.btn.btn-primary {
  color: black;
}
