.search-component{
  display: flex;
}

.input-width {
  flex-grow: 1;
}

.form-control {
  background-color: white;
}

.form-control::placeholder {
  color: $dark-gray;
}

select {
  color: $dark-gray;
}

.pet-index-container {

  .mb-4 {
    margin-bottom: 0.8rem !important;
  }
}
